.title-block .title{
    margin: auto;
    width: 400px;
    display: inline block;
    padding: 30px 60px;
    background: #f4f4f4;
    border-radius: 8px;
    font-weight: normal;
    margin-bottom: 10px;
  
  }
  
 .title-block .subtitle{
    margin: auto;
    width: 400px;
  font-weight: normal;
    display: inline block;
    padding-bottom:20px;
    color: #555;
    border-radius: 8px;
   margin-top: 10px;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 60px;
  
  }